<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		
	</head>
	<body>

		<nav class="navbar navbar-light bg-light">
			<img src="/assets/img/burger.png" alt="Bar" class="burger-img">
  <h1 class="navbar-brand mb-0 ml-2 mr-auto h1">Burgers!</h1>
</nav>

	<div class="container mr-auto ml-auto" id="product-container">

    <img src="/assets/img/background.jpg" alt="Bar" class="mr-auto ml-auto" id="product-background">


		{{{ body }}}
	</div>
        <script src="/assets/js/burger.js"></script>
	</body>
</html>
