
{{!-- Put the brugers in one row, with space in the middle. --}}

<div class="row p-4">
<div class="col-1"></div>
{{!-- Burgers that have not been eaten --}}
<div class="card col-3">
<h4 class="card-title">Burgers, ready to devour.</h4>
{{!-- Loops through burgers and displays an li for each non-eaten burger. --}}
<ul class="card-body">
  {{#each burger}}
    {{#unless devoured}}
      <li> <div class="mb-2">
          <img  src="/assets/img/burger.png" alt="burger" class="burger-img">
          {{this.burger_name}}
          <button type="button" class="eat-button btn btn-primary m-2" data-id={{this.id}}> Eat this burger!</button>
          </div>
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="col-4"></div>

{{!-- eaten burgers --}}
<div class="card col-3">
<h4 class="card-title">Burgers that have been devoured.</h4>

{{!-- loops through burgers and creates an li for each eaten burger. --}}
<ul class="card-body">
  {{#each burger}}
    {{#if devoured}}
        <li>
            {{this.burger_name}} has been eaten.
        </li>
    {{/if}}
  {{/each}}
</ul>

</div>

<div class="col-1"></div>

</div>

<div class="row p-4">

<div class="col-8"></div>
<div class="col-3 card">
{{!-- Add a burger form placed in row beneath eaten burgers --}}
<h4 class="card-title">Add a Burger</h4>
<form class="create-form card-body">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>



  <button type="submit" class="btn btn-primary">Add Burger</button>
</form>

<div class="col-1"></div>
</div>
</div>